/** Footer Index **/

footer{
    @include flex(flex, center, center);
    .pie{
        margin-top: 40px;
        text-align: center;
        display: inline-block;
        svg{
            color: $color-general;
        }
    }
}

/** Footer Demas HTML **/

.pie-e{
    margin-bottom: 13px;
    svg{
        color: $color-general;
    }
}

